
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');



body{
    width = 100%;
    background-color: green;
    color: black;
    margin: 0;
    padding: 5px;
}

@media only screen and (min-width: 768px) {
  
body{
    background-color: yellow;}
}

header{
    background-image: url("Luchtfoto_Hoornaar_kerk_xgaplus.jpeg" ) ;
    margin: 10px;
    padding: 5px;
    font-family: 'Rubik Maps';
    font-size: xx-large;
    background-size: cover;
    
}




.Centraal {
    display: flex;
    flex-wrap: wrap;
}

.Links{
    padding: 5px;
    background-color: blue;
    flex: 2;
}
.Rechts{
    background-color: purple;
    flex: 9;
    padding: 5px;
}

#Stier{
  float: right
  background-color: grey;
  padding: 5px;
}

.Plein{
    
  }


footer{
    background-color: red;
    margin: 10px;
    padding: 5px;
    text-align: 
}
