
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');

  body{
    background-color: yellow;
    color: black;
    margin: 0;
    padding: 5px;
}

header{
    background-image: url("Luchtfoto_Hoornaar_kerk_xgaplus.jpeg" ) ;
    margin: 10px;
    padding: 5px;
    font-family: 'Rubik Maps';
    font-size: xx-large;
    background-size: cover;
    
}




.Centraal {
    display: flex;
    flex-wrap: wrap;
}

.Links{
    padding: 5px;
    background-color: blue;
    flex: 2;
}
.Rechts{
    background-color: purple;
    flex: 9;
    padding: 5px;
}


footer{
    background-color: red;
    margin: 10px;
    padding: 5px;
    text-align: 
}
